@import "../../../styles/vars";


.form {
  margin-left: auto;
  margin-right: auto;

  &__header {
    text-align: center;
    color: $formHeaderColor;

    + .form__body {
      margin-top: 40px;
    }
  }

  &__body {
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    font-weight: 500;
    font-size: 35px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
  }

  &__title-icon {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    font-size: 100px;
    width: 137px;
    height: 125px;
    overflow: hidden;
  }

  &__row {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__note {
    max-width: 240px;
    margin: 14px auto 0;
    color: $primaryLight;
  }

  &_type {
    &_sign-up {
      .form__body {
        max-width: 560px;
      }
    }

    &_setup-account {
      .form__body {
        max-width: 360px;
      }
    }

    &_social-platforms {
      .form__body {
        padding: 0 40px;
      }
    }
  }
}
