@import "src/styles/vars";

.app {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    padding: 48px 55px 40px;
  }

  &__container {
    flex: 1 0 auto;
    display: flex;
    align-items: flex-start;
    padding: 0 15px;
    max-width: 1540px;
    margin: 0 auto;
    width: 100%;
  }

  &__body {
    flex: 0 0 74%;
    box-shadow: 0 30px 99px rgba(#000, .29);
    border-radius: 24px;
    background: #fff;
    min-height: 840px;
    height: 100%;
    padding: 40px 30px 38px;
  }

  &__aside {
    flex: 0 0 26%;
    padding: 60px 0 0 24px;
  }

  &__footer  {
    padding: 32px 55px;
  }
}
