@import "src/styles/vars";

.button {
  border: 0;
  background: none;
  cursor: pointer;
  padding: 12px;
  display: flex;
  align-items: center;
  color: $textColor;
  text-decoration: none;
  font: 700 15px/19px $secondaryFont;
  justify-content: center;

  &_type {
    &_primary {
      background: $primary;
      color: #fff;
      padding: 9px 20px;
      min-width: 175px;
      text-align: center;
      border: 1px solid $btnBorderColor;
      border-radius: 4px;
      transition: background-color .2s;
      font-size: 14px;

      &::after {
        content: '';
        background: url('./arrow.svg') 50% no-repeat;
        width: 24px;
        height: 24px;
        transform: translateX(-3px);
      }

      &:hover {
        background: darken($primary, 4);
      }

      &.without-icon {
        &::after {
          display: none;
          visibility: hidden;
        }

        span {
          margin-left: 2px;
          width: 24px;
          height: 24px;
          line-height: 24px;
          display: block;
          text-align: center;
        }
      }
    }
  }

  &:disabled {
    opacity: .7;
    pointer-events: none;
  }
}
